<div class="thumbnail">

    <img src="{{ asset("uploads/products/") ~ product.productImage  }}" class="img-responsive">
    <div class="price-label">
        <span>{{ product.productPrice }}$</span>
    </div>

    <div class="caption">
        <h4>{{ product.productName }}</h4>
        <p>
            {{ product.productDescription }}
        </p>
        <div class="pull-right">
            Available Quantity: {{ product.productQuantity }}
        </div>
        <a href="{{ path('add_to_cart', {'productId': product.id}) }}" class="btn btn-primary" id="add-to-cart">Add to Cart</a>
    </div>
</div>